.detailCompRoot {
  width: 500px;
  height: 300px;
  overflow: auto;
}

.detailCompTitle {
  text-indent: 1em;
  border-left: 5px solid rgb(50, 179, 94);
  font-style: italic;
}

.description {
  margin-top: 20px;
}

@media only screen and (max-width: 640px) {
  .detailCompRoot {
    width: 150px;
  }
}
